<!-- <ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>user</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button defaultHref="home" text=""></ion-back-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>

  <ion-text>
    <h2 class="text-center"><b>Profile</b></h2>
  </ion-text>

  <div class="center">
    <ion-fab-button style="width: 100px; height: 100px;" class="ion-text-center">
      <ion-icon name="person-outline" class="" style="font-size: 40px;"></ion-icon>
    </ion-fab-button>
  </div>

  <h3 class="text-center"><b>{{ user.name }}</b></h3>
  <p class="text-center">
    <ion-icon name="call-outline"></ion-icon>
    <ion-text>
      +222 {{ user.phone }}
    </ion-text>
    <br>
    <ion-icon name="mail-outline" ></ion-icon>
    <ion-text>
      {{ user.email }}
    </ion-text>
    <br>
    <ion-text>
      {{ user.birthdate?.substring(0,10) }}
    </ion-text>
  </p>


  <ion-modal
    trigger="openModal"
    [initialBreakpoint]="0.9"
    [breakpoints]="[0, 0.5, 1]"

    
  >
    <ng-template class="ion-padding">
      <!-- <ion-header>
        <ion-toolbar color="primary">
          <ion-title> Inline </ion-title>
        </ion-toolbar>
      </ion-header> -->
      <ion-content>
        <div class="ion-padding">
          <ion-text color="primary">
            <h3 class="ion-text-center">Edit user</h3>
          </ion-text>

          <div slot="label">Name <ion-text color="danger">*</ion-text></div>
          <ion-input
            type="text"
            [(ngModel)]="user.name"
            class="px-2"
            placeholder="Ahmed"
          ></ion-input>
          <div slot="label">Phone <ion-text color="danger">*</ion-text></div>
          <ion-input
            type="tel"
            [(ngModel)]="user.phone"
            class="px-2"
            placeholder="00-00-00-00"
          ></ion-input>
          <div slot="label">E-mail <ion-text color="danger">*</ion-text></div>
          <ion-input
            type="email"
            [(ngModel)]="user.email"
            errorText="Invalid email"
            ngModel
            class="px-2"
            placeholder="xyz@exemple.com"
          ></ion-input>

          <div slot="label" class="pt-2">
            Birthdate <ion-text color="danger"></ion-text>
          </div>
          <ion-datetime-button
            datetime="datetime"
            presentation="datetime"
            slot="date-target"
            class="float-start mb-3"
          ></ion-datetime-button>

          <ion-modal [keepContentsMounted]="true">
            <ng-template>
              <ion-datetime
                id="datetime"
                [(ngModel)]="user.birthdate"
              ></ion-datetime>
            </ng-template>
          </ion-modal>

          <ion-button expand="block" class="my-2" (click)="edit()"
            >Save</ion-button
          >
        </div>
      </ion-content>
    </ng-template>
  </ion-modal>

  
</ion-content>

<ion-footer style="border: none;" class="bar-header mb-3">
  <ion-toolbar color="white" class="bg-white" style="border: none;">
    <ion-button expand="block" fill="outline" color="primary" class="mx-3" id="openModal">Update</ion-button>
  <ion-button expand="block" color="danger" class="mx-3">Delete</ion-button>
  </ion-toolbar>
</ion-footer>