.center {
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
  }

  .bar-header {
    border: 0px !important;
    border-bottom-color: transparent !important;
    background-image: none !important;
    border-bottom: none !important;
}